<!DOCTYPE html>
<html>

<head>

<title>GitHub Analyzer</title>

<link rel="stylesheet" href="/static/style.css">

</head>


<body>


<div class="top-bar">


<div class="logo-area">

<img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png">

<h1>GitHub Analyzer</h1>

<img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png">


</div>



<a href="/logout" class="logout-btn">

Logout

</a>


</div>





<p class="subtitle">

Analyze GitHub profiles and get AI-powered insights

</p>





<form method="POST" class="search-box">


<h2>Analyze GitHub Username</h2>


<div class="input-row">


<input

name="username"

placeholder="Enter GitHub username..."

required>


<button>

🔍 Analyze

</button>


</div>


</form>









{% if result %}


<div class="profile card">


<img class="avatar" src="{{result.avatar}}">


<h2>{{result.username}}</h2>


<p>{{result.bio}}</p>


<p>📍 {{result.location}}</p>


<p>🏢 {{result.company}}</p>



<a href="{{result.github}}">

<button class="small-btn">

View GitHub

</button>

</a>




<div class="circle">

{{result.score}}%

</div>


<h3>Recruiter Score</h3>



<p>
Repositories : {{result.repos}}
</p>


<p>
Followers : {{result.followers}}
</p>



<h3>Languages</h3>


{% for lang in result.languages %}

<p>
💻 {{lang}}
</p>


{% endfor %}



<h3>Suggestions 🤖</h3>


{% for s in result.suggestions %}


<p>

✓ {{s}}

</p>


{% endfor %}




<a href="/download">

<button>

Download PDF

</button>

</a>



</div>



{% endif %}









<h2 class="leader">

🏆 Leaderboard

</h2>





<div class="leader-card">



{% for user in leaderboard %}



<div class="rank">


<div>


<span class="number">

{{loop.index}}

</span>


{{user[0]}}


</div>



<b>

{{user[1]}}%

</b>


</div>




{% endfor %}



</div>






</body>

</html>