<!DOCTYPE html>
<html>

<head>

<title>Login - GitHub Analyzer</title>

<link rel="stylesheet" href="/static/style.css">

</head>


<body>


<div class="auth-container">


<div class="auth-card">


<div class="github-logo">

<img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png">

</div>



<h1>Welcome Back</h1>


<p>
Login to GitHub Analyzer
</p>




<form method="POST">


<div class="input-box">

<span>👤</span>

<input 
type="text"
name="username"
placeholder="Username"
required>

</div>



<div class="input-box">


<span>🔒</span>

<input 
type="password"
name="password"
placeholder="Password"
required>


</div>





<button class="auth-btn">

Login

</button>



</form>




<p class="bottom-text">

Don't have an account?

<a href="/register">

Register

</a>

</p>



</div>



</div>



</body>

</html>